<!DOCTYPE html>
<html>
<head>
  <title>Emprendimientos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <%=link_to "Emprendimientos",activities_path ,class:"brand-logo"%>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%=render "partials/elementos"%>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%=render "partials/elementos"%>
      </ul>
    </div>
  </nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
<script type="text/javascript">
  $(".button-collapse").sideNav();
    $(document).ready(function(){
      $('.parallax').parallax();
    });
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
        
</script>
</html>
